<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/ui/css/styles.css" />
</head>
<body>

    <div class="wrapper"><div class="recent">
        <h1>Posts by Date</h1>
{% for post in site.posts %}
{% capture day %}{{ post.date | date: '%m%d%Y' }}{% endcapture %}
{% capture nday %}{{ post.next.date | date: '%m%d%Y' }}{% endcapture %}
{% if day != nday %}
        <h2>{{ post.date | date: "%A, %B %e, %Y" }}</h2>
{% endif %}
{% if post.link=='' %}
        <div class="entry"><h3 id="{{ post.slug }}"><a href="#{{ post.slug }}">#</a> {{ post.title }}</h3>
{% else %}
        <div class="entry"><h3 id="{{ post.slug }}"><a href="#{{ post.slug }}">#</a> <a href="{{ post.link }}">{{ post.title }}</a></h3>
{% endif %}
        {{ post.content }}</div>
{% endfor %}
    </div>

    <div class="categories">
        <h1>Posts by Category</h1>
{% for category in site.categories %}
        <h2>{{ category[0] | capitalize }}</h2>
{% assign posts = category[1] %}
{% for post in posts %}
        <p><a href="{{ post.link }}">{{ post.title }}</a></p>
{% endfor %}
{% endfor %}
    </div></div>

</body>
</html>